<%
  const variant = locals.variant || 'primary';
  const type = locals.type || 'button';
  const text = locals.text || 'Button';
  const onClick = locals.onClick;

  const common_styles = 'inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0'

  const styles = {
    'primary' : 'bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2',
    'secondary' : 'bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80 h-9 px-4 py-2',
    'destructive' : 'bg-destructive text-destructive-foreground shadow-sm hover:bg-destructive/90 h-9 px-4 py-2',
    'outline': 'border border-input bg-background text-foreground shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 w-full'
  }

  const className = styles[variant] || styles['primary'];
%>

<button
  type="<%= type %>"
  class="<%= common_styles %> <%= className %>"
  <%= onClick ? `onclick="${onClick}"` : '' %>
>
  <%= text %>
</button>